/* CSS Document */


h1{
    color: white;
    font-size: 98px;
    text-align: left;
    left: 30%;
    bottom: 80%;    
}

#ftop{
     height: 600px;
    background: url('../images/ford.jpg');
    background-size: cover;
}


#flink{
    color: black;
    font-size: 36px;
    font-family: fantasy;
    position: absolute;
    text-align: center;
    border: 1px solid white;
}


#flink a:active{
    color: gainsboro;
    text-decoration: underline;
    }


#flink a:link{
    color: beige;
    text-decoration: none;
}

#flink a:visited{
    color: darkgray;
    text-decoration: none;
}